#camera-page {
  div.select {
    display: inline-block;
    margin: 0 0 1em 0;
  }
  p.small {
    font-size: 0.7em;
  }
  label {
    width: 12em;
    display: inline-block;
  }
}

body {
  font-size: 16px;
}

.small {
  font-size: .7em;
  color: black;
  width: 10%;
}

.camera {
  background: #eee;
  width: 300px;
  height: 300px;
  float: left;
  margin: 15px;
}
